<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>0514.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04B8DEC61CE716C900E71C5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04B8DEDF1CE716C900E71C5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04B8DEEA1CE716C900E71C5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
